# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/

# Environment
.env

# Database
*.db
*.sqlite3

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
